[Unit]
Description=Serviço para a API STHT
After=network.target

[Service]
Type=simple
User=
WorkingDirectory=/home/rotadeo/cp5-edge-fiware/VM/Edge-Computing-Fiware/venv
ExecStart=/home/rotadeo/cp5-edge-fiware/VM/Edge-Computing-Fiware/venv/bin/python3 /home/rotadeo/cp5-edge-fiware/VM/Edge-Computing-Fiware/venv/api-sth.py
Restart=always

[Install]
WantedBy=multi-user.target






